<?xml version="1.0"?>
<launch>
	<!-- rosserial; talk to arduino -->
	<include file="$(find alpha_main)/launch/rosserial.launch"/>

	<!-- sensors -->
	<include file="$(find alpha_sensors)/launch/sensors.launch"/>

	<!-- localization -->
	<include file="$(find alpha_localization)/launch/localization.launch"/>

	<!-- navigation -->
	<!-- TODO : implement -->
</launch>
