<?xml version="1.0"?>
<launch>
	<!-- TODO : recalibrate IMU -->
	<!-- TODO : refill parameters in this file -->

	<!-- Nodelet manager --> 
	<node pkg="nodelet" type="nodelet" name="imu_manager" args="manager" output="screen"/>

		<!-- Data Rates in ms -->
		<!-- Compass Correction Params -->
	<node pkg="nodelet" type="nodelet" name="PhidgetsImuNodelet" args="load phidgets_imu/PhidgetsImuNodelet imu_manager" output="screen">
		<param name="period" value="32"/>
		<param name="cc_mag_field" value="1.02746"/>
		<param name="cc_offset0" value="-0.75218"/>
		<param name="cc_offset1" value="0.54769"/>
		<param name="cc_offset2" value="0.39663"/>
		<param name="cc_gain0" value="0.86928"/>
		<param name="cc_gain1" value="1.09321"/>
		<param name="cc_gain2" value="0.95734"/>
		<param name="cc_t0" value="0.02608"/>
		<param name="cc_t1" value="0.45998"/>
		<param name="cc_t2" value="0.13931"/>
		<param name="cc_t3" value="0.51480"/>
		<param name="cc_t4" value="0.17391"/>
		<param name="cc_t5" value="-0.33682"/>
	</node>
	

	<!-- Filling Orientation Information -->
	
	<!--<node pkg="nodelet" type="nodelet" name="ImuFilterNodelet" 
		args="load imu_filter_madgwick/ImuFilterNodelet imu_manager" 
		output="screen">

		<param name="use_mag" value="true"/>
		<param name="world_frame" value="nwu"/>
		<param name="use_magnetic_field_msg" value="false"/>
		<param name="publish_tf" value="true"/>

	</node>

	-->


	<!-- IMU Coincident with robot -->
	<node pkg="tf" type="static_transform_publisher" name="base_link_to_imu" args="0 0 0 0 0 0 base_link imu 100" />

	<node pkg="alpha_sensors" type="vec3tomag.py" name="vec3tomag"/>

	<node pkg="imu_complementary_filter" type="complementary_filter_node" name="imu_complementary_filter">
		<!--<remap from="/imu/data_raw" to="/imu_fixed"/>-->
		<remap from="/imu/mag" to="/imu/magnetic_field"/>
		<param name="use_mag" value="true"/>
		<param name="publish_tf" value="false"/>
	</node>

	<!-- Coordinate Transformations -->
	<!--<node pkg="localization" type="transform.py" name="transform"/>-->

</launch>
