<?xml version="1.0"?>
<launch>
	<!-- sensors : android(imu/gps/camera) | phidgets imu | camera(1 or 2) | Hokuyo Lidar | GPS | IR/Sonar -->
	<!-- android brings itself up, imu/gps/camera -->

	<include file="$(find alpha_sensors)/launch/imu.launch"/>
	<include file="$(find alpha_sensors)/launch/camera.launch"/>
	<include file="$(find alpha_sensors)/launch/lidar.launch">
		<arg name="sim" value="false"/> 
	</include>
	<node name="gps" pkg="nmea_navsat_driver" type="nmea_serial_driver" args="_port:=/dev/serial/by-id/usb-u-blox_AG_-_www.u-blox.com_u-blox_7_-_GPS_GNSS_Receiver-if00 _baud:=115200"/>
	<!-- IR/Sonar is managed by Arduino (ROSSERIAL), don't launch here -->
</launch>
